<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div style="padding: 20px; background-color: fuchsia">{% block content %}{% endblock %}</div>
<footer style="padding: 20px; background-color: #face2c">
    <a href="{% url 'index' %}">Go to home</a>
</footer>
</body>
</html>